<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="../images/logo-32.png">
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li class="navbar-right">
        <a href="#"><span class="fa fa-heartbeat" aria-hidden="true"></span></a>
      </li>
    </ul>
  </div>
</nav>
